.inventory-modal {
    position: fixed;
    z-index: 1;
    left: 10%;
    top: 0%;
    width: 85vw;
    height: 100vh;
    overflow: auto;
    background-image: url("/assets/parchment_texture.jpg");
    display: flex;
    text-align: center;
    flex-direction: column;
}

.inventory {
    display: grid; /* Use grid for better column control */
    grid-template-columns: repeat(3, minmax(20%, 1fr));
    grid-template-rows: auto repeat(3, auto);    
    gap: 200px; /* Adds spacing between items */
    width: 100%;
    height: calc(100vh - 5em); /* Subtract the modal header and footer */
    overflow-y: scroll;
    font-size: 1.5em;
    padding: 2em; /* Increase padding for better readability */
}

.close-modal {
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 2em;
}

.item {
    background-color: rgb(250, 220, 183, 0.33);
    height: auto; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    /* overflow-y: scroll; */
    border: 1px solid black;
    min-width: 100%; 
  }

