
#choice-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(193, 154, 107, .5);
    display: flex;
    /* justify-content: space-between; */
}

.choice-modal-content {
    background-color: rgb(193,154,107);
    margin: auto;
    padding: 20px;
    width: 25%;
    height:60%;
    display:flex;
    flex-direction: column;
    /* justify-content: space-around; */
    font-size:2em;
}

.choice-btn, .choice-tier{
    margin-top: auto;
}

@media (max-width:1200px){

    #choice-modal {
        overflow:auto;
        flex-direction: column;
    }

    .choice-modal-content{
        margin-top:1%;
        height:100%;
        width:65%;
    }
    
}