#char-selector-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(193, 154, 107, .5);
    flex-wrap: wrap;
}

.centered {
    position: absolute;
    text-align: center;
    top: 4em;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0);
    z-index: 1;
}

.characters{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    padding-top:5em;
    padding-left:5em;

    height: 85%;
    width: 85%;

    background-image: url("/assets/parchment_texture.jpg");
}

.characterSelectorCard{
    width: 95%;
    height: 95%;
    display:flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(232,180,116, .3);
    font-size:1.75em;
    padding: 5px;
    margin:0 0 auto;
}

.selectDeleteDiv{
    margin-top:.5em;
}

@media (max-width:1200px){

    #char-selector-modal {
        flex-wrap: nowrap;
        overflow:auto;
    }

    .spell-choice-modal-content{
        margin-top:1%;
        height:100%;
        width:65%;
    }
    
}