.levelInfo {
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.hpInput {
    height:2em;
    width:3em;
    border-radius: 5px;
    vertical-align: middle
}


.hpInfo{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.spellPointsInfo{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.topInfo{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    margin-bottom:3em
}

.topRight{
    position:fixed;
    width:5%;
    height:7.5em;
    right:1em;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.gameplayButtons{
    display:flex;
}

.spellBookIcon{
    width:5em;
}

.restIcon{
    width:5em;
}

.deathIcon{
    width:5em;
}

.icon{
    width:5vw;
    cursor: pointer;
}

.saveButton{
    margin-top: 2vh;
    width:5vw;
    font-size: 1.5vw;
}

.levelButton {
    width: 100%;
    height: 2em;
    margin-top: 10px;
    font-size: 1.5vw
  }

.addStatButton{
    margin-left:5%;
}