
#spell-choice-modal {
    display: flex;
    justify-content: space-between;
    position: fixed;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* overflow: auto; */
    background-color: rgba(193, 154, 107, .5);
    flex-wrap: wrap;
}

.spell-choice-modal-content {
    background-image: url("/assets/parchment_texture.jpg");
    margin: auto;
    width: 30%;
    height: 48%;
    display:flex;
    flex-direction: column;
    font-size:1.75em;
    padding: 5px;
}

.spell-choice-desc{
    height:70%;
}

.spell-choice-btn{
    height: 50px;
    width: 100%;
}

.spell-choice-tier{
    margin-top:auto;
}

@media (max-width:1200px){

    #spell-choice-modal {
        flex-wrap: nowrap;
        overflow:auto;
    }

    .spell-choice-modal-content{
        margin-top:1%;
        height:100%;
        width:65%;
    }
    
}