#main {
  text-align: center;
}

#classes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px;
}

#header {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}