#main {
  text-align: center;
  margin: 0
}

#classes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px;
  box-sizing: border-box;
}

#header {
  font-size: 3em;
  font-weight: bold;
  margin: 0;

}

#background {
  position: absolute;
  width: 100vw;
  height:100vh;
  backdrop-filter: blur(10px);
  margin: 0;
  padding: 0;
  left: 0;
  z-index: -1;
}