*{
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  margin:50px;
  }
  
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 15%;
  }

.main {
  background-color: rgb(193,154,107,.75);
  width:100vw;
  height:100vh
}

.characterCard{
  width:33em;
  height:100%
}

.charImage {
  width: 33em;
  height: 33em;
  margin-bottom: -10px;
}

.cardText{
  font-size: 1.5em;
  overflow-y: auto;
  max-height: 35%;
  background-color: rgb(186,148,105, .33);
  margin-top: auto;
}

.charName{
  font-weight: bold;
}

.characterInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  margin-right: 5%;
  margin-left: 5%;
}

.stats {
  display:flex;
  justify-content: space-around;
  width: 100%;
}

#stat{
  display:flex;
  flex-direction: row;
}

.statButtons{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statButton{
  border-radius: 5px;
  width:1.1em;
  height:1.5em;
}

.bookImage {
  width: 5%;
  position: absolute;
  right: 0;
  top: 0;
}

.backImage{
  width: 5%;
  position: absolute;
  left: 0;
  top: 0;
}

.features {
  width:100%;
  height:60%;
  text-align: center;
  overflow-y: auto;
}

#levelButton {
  width: 100%;
  height: 50px;
  background-color: #242424;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

input{
  background-color: #242424;
  color: white;
  border: none;
  border-radius: 5px;
}