@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

*{
  box-sizing: border-box;
}

body{
  margin:0;
  height:100vh;
}

:root {
  /* font-family: 'Princess Sofia', cursive; */
  color: rgb(34, 34, 34);
  background-color: rgb(232, 180, 116);
  background-image: url("https://static.vecteezy.com/system/resources/previews/015/369/796/large_2x/mountain-landscape-with-castle-and-dragon-free-vector.jpg"); 
  /* background-image: url("public/assets/background.png");  */
  background-repeat: no-repeat;
  background-position: top; 
}

#root{
  height:100vh;
  width:100vw;
}

#background {
  position: absolute;
  top: 0px;
  backdrop-filter: blur(10px);
  margin: 0;
  padding: 0;
  left: 0;
  z-index: -1;
}

.text {
  background: -webkit-linear-gradient(0deg,#9b9b9b 5%, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}